<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Linqia home Test">

	<listeners>
		<listener class-name="com.qa.ExtentReporteListener.ExtentReporterNG" />
	</listeners>


	<test name="Linqia Test Cases">
		<classes>
			<class name="com.qa.linqia.test.TodoTest"></class>
			<class name="com.qa.linqia.test.IntroductionPageTest"></class>
			<class name="com.qa.linqia.test.IntegrationWithPaypalTest"></class>
			<class name="com.qa.linqia.test.LinqiaTest"></class>
	
		</classes>
	</test>
</suite>